h1 {
	text-align: center;
}

.board-history-button {
	background-color: #b40000;
	margin: auto;
	display: grid;
	align-items: center;
	color: #ffffff;
	height: 60px;
	width: fit-content;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;
	text-decoration: none;
	transition: 0.4s ;
}

.board-history-button:hover {
	background-color: #a00000;
}

.flipped {
	transform: rotateY(180deg);
}

.flipped .content-box-info {
	height: 300px;
	transform: rotateY(-180deg);
}

.flipped .content-box-info::after {
	content:attr(extended);
	white-space: pre-line;
}

.flipped:hover .content-box-info {
	height: 300px;
	transform: rotateY(-180deg);
}

.flipped:hover .content-box-info::after {
	content:attr(extended);
	white-space: pre-line;
}