h1 {
	text-align: center;
}

.board-history-button {
	background-color: #b40000;
	margin: auto;
	display: grid;
	align-items: center;
	color: #ffffff;
	height: 60px;
	width: fit-content;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;
	text-decoration: none;
	transition: 0.4s ;
}

.board-history-button:hover {
	background-color: #a00000;
}