.no-upcoming-events {
	padding-left: 40px;
	/* COMMENT OUT THE LINE BELOW IF THERE ARE NO UPCOMING EVENTS */
	display: none;
}

a {
	text-decoration: none;
}

.calendar {
	display: flex;
	flex-direction: column;
}

.calendar iframe {
	align-self: center;
}

.content-main {
	justify-content: flex-start;
}

#event202310ga {
	background-image: url(../images/event-posters/GA-Fall2023.webp);
}

#event202404liquortasting {
	background-image: url(../images/event-posters/LiquorTasting2024.webp);
}

#event202405movienight {
	background-image: url(../images/event-posters/MovieNight2024.webp);
}

#event202410ga {
	background-image: url(../images/event-posters/GA-Fall2024.webp);
}

#event202411sundaylunch {
	background-image: url(../images/event-posters/SundayLunch-Fall2024.webp);
}

#event202412wigilia {
	background-image: url(../images/event-posters/wigilia2024.webp);
}

#event202502andrzejdraganlecture {
	background-image: url(../images/event-posters/AndrzejDragan2025.webp);
}

#event202503skiweekend {
	background-image: url(../images/event-posters/SkiWeekend2025.webp);
}

#event202503ga {
	background-image: url(../images/event-posters/GA-Spring2025.webp);
}

#event202504easter {
	background-image: url(../images/event-posters/wielkanoc2025.webp);
}

#event202505michalkowalczyklecture {
	background-image: url(../images/event-posters/MichalKowalczyk2025.webp);
	background-size: 240px 260px;
}

#event202509ga {
	background-image: url(../images/event-posters/GA-Fall2025.webp);
	background-size: 240px 260px;
}

#event202510boardgamenight {
	background-image: url(../images/event-posters/BoardGameNight-Fall2025.webp);
	background-size: 240px 260px;
}

#event202511volleyball {
	background-image: url(../images/event-posters/Volleyball2025.webp);
	background-size: 240px 260px;
}

#event202512wigilia {
	background-image: url(../images/event-posters/wigilia2025.webp);
	background-size: 240px 260px;
}

#event202602skiweekend {
	background-image: url(../images/event-posters/SkiWeekend2026.webp);
	background-size: 240px 260px;
}