.no-upcoming-events {
	padding-left: 40px;
	/* COMMENT OUT THE LINE BELOW IF THERE ARE NO UPCOMING EVENTS */
	/* display: none; */
}

a {
	text-decoration: none;
}

.content-main {
	justify-content: flex-start;
}

#event202310ga {
	background-image: url(../images/event-posters/GA-Fall2023.jpg);
}

#event202404liquortasting {
	background-image: url(../images/event-posters/LiquorTasting2024.png);
}

#event202405movienight {
	background-image: url(../images/event-posters/MovieNight2024.png);
}

#event202410ga {
	background-image: url(../images/event-posters/GA-Fall2024.jpg);
}

#event202411sundaylunch {
	background-image: url(../images/event-posters/SundayLunch-Fall2024.jpg);
}

#event202412wigilia {
	background-image: url(../images/event-posters/wigilia2024.png);
}

.calendar {
	display: flex;
	flex-direction: column;
}

.calendar iframe {
	align-self: center;
}