.no-upcoming-events {
	padding-left: 40px;
	/* COMMENT OUT THE LINE BELOW IF THERE ARE NO UPCOMING EVENTS */
	/* display: none; */
}

a {
	text-decoration: none;
}

.calendar {
	display: flex;
	flex-direction: column;
}

.calendar iframe {
	align-self: center;
}

.content-main {
	justify-content: flex-start;
}

.content-box {
	background-size: 240px 260px;
}

.no-image {
	background-size: auto;
}
